extends layout.pug

block content
	h1 404: page not found
	section(style='text-align: center; margin-top: 75px;')
		p(style='font-size: 25px;') This page doesn't exist (yet). 
			br
			|As this website is under construction, there is still many dead links, sorry.
		
		br
		a(href='/' style='font-size: 35px;') Return to your dashboard
			