extends layout.pug

block content
	h1 Dashboard
	section
		h2 My lists
		ul 
			li: b: a(href='/list/new') new list
			-if(user.listsIds) {
			-user.listsIds.forEach(function(list) {
			li
				a(href='/list/'+list._id) #{list.name}	
			- });
			- }
	


	section
		h2 Recent words
		p nothing here yet...