extends layout.pug

block content
	p Connected as #{user.name} 
		a(href='/auth/logout') logout

	h2 My lists
	- lists.forEach(function(item) {
	li
		a(href='/list/'+item) #{item}	
	- });



	h2 Recent words