//- views/discussion.pug

extends layout.pug

block content
  h1 discussion
  section(id='messages')
  section
    input(type='text' id='message')
    button(onclick='sendMessage()') button
  
block footScript
  script.
    var target = '#{target}';    
    function sendMessage() {
      console.log('click');
      var data = {target, message: document.getElementById('message').value};
      socket.emit('message', data);
      return false;
    }

    var socket = io.connect();
    socket.on('message', function (message) {
      console.log('message', message);
      let sessionElt = document.getElementById('messages');
      var messageElt = document.createElement('p');
      messageElt.textContent = message;
      console.log(messageElt);
      sessionElt.appendChild(messageElt);
    });