//- views/discussion.pug

extends layout.pug

block content
  h1 discussion
  section(id='messages')
  section
    form#messenger(onsubmit="return sendMessage()")
      input(type='text' id='message')
      input(type="submit" value="Send") 
  
block footScript
  script.
    var target = '#{target}';

    function sendMessage() {
      var data = {target, message: document.getElementById('message').value};
      socket.emit('message', data);
      document.getElementById('messenger').reset();
      return false;
    }

    var socket = io.connect();
    socket.on('message', function (message) {
      let sessionElt = document.getElementById('messages');
      var messageElt = document.createElement('p');
      messageElt.textContent = message;
      sessionElt.appendChild(messageElt);
    });