doctype html
html
  head
    meta("charset"="utf-8")
    link(rel='stylesheet' type='text/css' href='/public/style/scribbing.css')
    block head

  body
    block header
      header.navbar
        h1: a(href='/') Scribbing
        h2: a(href='/list') My lists
        h2: a(href='/word') My recent words
        p.hidden: a(href='/profil') You are logged in as #[b #{user.displayName}]
        button(onclick="location.href = '/auth/logout'") Logout
        button(onclick="location.href = 'profil/setting'") settings
    
    div.mainWrapper
      block content
    
    footer
      block footer
    
    block footScript