doctype html
html
  head
    meta("charset"="utf-8")
    link(rel='stylesheet' type='text/css' href='/public/style/scribbing.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block head

  body
    block header

      header.navbar
        h1: a(href='/') Scribbing
        h2: a(href='/dashboard') Dashboard
        h2: a(href='/messages') Messages
        form(action='/search' methode='get')
          input(type='text' name='query' id='searchValue' style='display: inline-block')
          input(type='submit' value='search' style='display: inline-block')
        button(onclick="location.href = '/auth/logout'") Logout
        button(onclick="location.href = 'profil/setting'") settings
    
    div.mainWrapper
      block content
    
    footer
      block footer
        p.hidden: a(href='/profil') You are logged in as #[b #{user.displayName}]
    block socket
      script(src="/socket.io/socket.io.js")
      script.
        var socket = io.connect();
    block footScript