extends layout.pug



block content

	h2 #{list.name}
	button(onClick="location.href = '/list/update/"+ list._id +"'") modifie
	table
		tr
			- list.languages.forEach(function(langage) {
			th #{langage}
			- });
		- list.words.forEach(function(word) {
		tr
			-	list.languages.forEach(function(language) {
			td #{word[language]}
			-	});
			-});
			