extends layout.pug

block content
	h1 Search
	section
		h2 Result
		ul
			-data.forEach(function(userFound) {
			li #{userFound.name} 
				-var id = userFound.id;

				//-case: friend req received
				-if(userFound.status == 'received') { 
				button(onclick='window.location = "/friends/accept/' + id + '";') Accept the invitation
				-} 

				//-case: friend req already sent
				-else if(userFound.status == 'send') {
				button(disabled) Request sent
				-}

				//-case: already friend
				-else if(userFound.status == 'friend') {
				button(disabled) Already friend
				-} 

				//-case: no request pending
				-else {
				button(onclick='window.location = "/friends/add/' + id + '";') Add
				-}
				-});




