.demi {
	> article {
		margin: 40px;
	}
	display: flex;
}


.indexHeader {
	background-color: $tendre;
	border-bottom: 3px solid $vif;

	h1{
		margin: 0px;
		color: $sombre;
		text-align: center;
		font-family: 'choco';
		font-size: 14vw;
	}
}

.fbBtn, .gBtn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  display: block;
  margin: auto;
  min-width: 20vw;
  border-radius: 8px;
  color: $white;
  font-size: 2.4vw;
  padding: 0.9vw 2vw 0.8vw 2vw;
  text-decoration: none;
  i {
    padding-right: 2vw;
    float: left;
  }
}

.fbBtn {
  border: solid $facebookBlue 3px;
  background-color: $facebookBlue;
}

.fbBtn:hover {
  color: $facebookBlue;
  background-color: $white;
}

.gBtn {
  border: solid $googleRed 3px;
  background-color: $googleRed;
}

.gBtn:hover {
  color: $googleRed;
  background-color: $white;
}