// src/styles/index.scss

@import "elements/fonts.scss";
@import "elements/colors.scss";
@import "font-awesome/font-awesome.scss";
@import "elements/default.scss";

.demi {
  display: flex;
  flex:1;
	& > article {
    &:first-child {
      background-color: $clair;
      flex:0;
    }
    padding: 1vw;
    flex: 1;
	}
}

header h1 {
  font-family: "choco";
	font-size: 14vw;
  @media all and(min-width: 1024px) {
    font-size: 143px;
  }
}

h2 {
  margin: 1vh;
  font-size: 3vw;
}

.fbBtn, .gBtn {
  display: block;
  margin: auto;
  min-width: 20vw;
  margin: 2vh 0;
  padding: 0.9vw 2vw 0.8vw 2vw;
  border-radius: 8px;
  color: $white;
  font-size: 2.4vw;
  i {
    padding-right: 2vw;
    float: left;
  }
}

.fbBtn {
  border: solid $facebookBlue 1px;
  background-color: $facebookBlue;
  &:hover {
    color: $facebookBlue;
    background-color: $white;
  }
}

.gBtn {
  border: solid $googleRed 1px;
  background-color: $googleRed;
  &:hover {
    color: $googleRed;
    background-color: $white;
  }
}
