
.navbar, footer {
	$height: 70px;
	$h1Height: 60px;
	$h2Height: 30px;
	$pHeight: 20px;
	$iHeight: 40px;

	background-color: $tendre;
	color: $sombre;
	min-height: $height;
	display:flex;
	flex-wrap: wrap;

	&>* {
		margin: 0;
		padding: 0 10px;
		line-height: 100%;
		border-right: 3px solid $vif;
	}

	h1, h2, button {
		&:hover {
			background-color: $pale;
			color: $clair;
		}
	}

	h1 {
		font-size: $h1Height;
		text-align:center;
		padding: 0 40px 0 10px;
		padding-top: ($height - $h1Height) / 2;
		font-family: 'choco';

		@media screen and (max-width:480px) {
			flex:1;
			border: hidden;
		}
	}

	h2 {
		font-size: $h2Height;
		padding-top: ($height - $h2Height) / 2;
	}

	p {	
		flex: 1;
		font-size: $pHeight;
		padding-top: ($height - $pHeight) / 2;
		text-align: center;
	}

	form {
		flex: 1;
		text-align:center;
		padding-top: 19px;
		font-size: 20px;

		input[type='text'] {
			padding: 4px 12px;
			border: solid 1px $clair;
			background: $white; 
			border-radius: 5px 0 0 5px;
			font-size: inherit;
		}

		button{
			padding: 4px 19px 4px 16px ;
			background-color: $clair;;
			border: solid 1px $vif;
			border-left: 0;
			border-radius: 0 5px 5px 0;
			color: $white;
			font-size: inherit;
		}
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	&>button {
		display: block;
		background-color: transparent;
		padding: 0 30px;
		font-size: $pHeight;
		border: none;
		border-right: 3px solid $vif;
		font-family: 'Times New Roman';
		color: $sombre;
	}

	&>button>i {
		font-size: $iHeight;
	}

	@media screen and (max-width: 480px) {
		.hidden {
			display: none;
		}
	}
}

.navbar{
	
	

	border-bottom: 3px solid $vif;

	
}

footer {
	border-top:3px solid $vif;
}
