
$sombre: #405952;
$clair: #9C9B7A;
$pale: #FFD393;
$tendre: #FF974F;
$vif: #F54F29;
$white: #FFFFFF;
$black: #000000;

$facebookBlue: #3B5998;
$googleRed:#F90101;

@import 'table';
@import 'loadingIcon';
@import 'navbar';
@import 'index';

body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	background-color: $clair;
	font-family: 'Times New Roman';
}

.mainWrapper {
	flex: 1;
	background-color: $white;
	width: 80%;
	margin: auto;
	border-left: 2px solid $vif;
	border-right: 2px solid $vif;
	font-size: 2.5vh;

	a {
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}

	h1 {
		margin: 30px;
		text-align: center;
		color: $sombre;
		font-size: 5vh;
	}

	h2 {
		color: $sombre;
		font-size: 4vh;
	}

	section {
		margin: 30px 6vw;
	}

	p {
		padding-left: 2vw;
	}

	.command {
		text-align: center;
	}

	input[type='text'] {
		margin: 2px;
		font-size: 2vh;
		border: 1px solid $vif;
		border-radius: 3px;
		padding: 12px 20px;

		&.listName {
			font-size: 4vh;
		}
	}

	button.classic, input[type='submit'] {
		-webkit-border-radius: 8;
		-moz-border-radius: 8;
		display: inline-block;
		margin: 10px;
		min-width: 200px;
		border-radius: 8px;
		color: $white;
		font-size: 3vh;
		padding: 15px 30px;
		text-decoration: none;
  		border: solid $vif 3px;
  		background-color: $vif;

  		&:hover {
  			color: $vif;
  			background-color: $white;
  		}
	}
}

 

@font-face {
	font-family: 'choco';
	src: url('/public/font/chocolate-covered-raindrops.ttf');
}