table {

	margin:auto;
	border-collapse: collapse;

	&.wordTable {
		
		tr{
			background-color: $pale;

			th, td {
			min-width: 220px;
			border: 2px solid $vif;
			padding: 12px 20px;
			}

			th {
				background-color: $vif;
			}

			&:nth-child(even) {
				background-color: $tendre;
			}
			
			&:hover {
				background-color: red;
			}
		}
	}
}