table {
	border-collapse: collapse;
	margin:auto;
	

	tr{
		background-color: $pale;

		th, td {
		min-width: 150px;
		border: 2px solid $vif;
		padding: 3px;
		}

		th {
			background-color: $vif;
		}

		&:nth-child(even) {
			background-color: $tendre;
		}
		
		&:hover {
			background-color: red;
		}
	}
	
}