// src/style/elements/colors.scss

$sombre: #405952;
$clair: #F8F8F8;
$casse: #F5F5F0;
$pale: #FFD393;
$tendre: #FF974F;
$vif: #F54F29;
$white: #FFFFFF;
$black: #000000;

$facebookBlue: #3B5998;
$googleRed:#F90101;
